.main {
  margin-top: 70px;
}

.user-image {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 200px;
  margin-top: 8px;
}

.user-image img {
  margin: 0px;
  padding: 0px;
  margin-top: -20px;
  margin-left: -20px;
  width: 40px;

}

#video-player {
  width: 100%;

}

.video-data {
  margin-top: 15px;
}

/* Latest videos section */

#videos-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}

.latest-video-item {
  margin-bottom: 5px;
  font-size: 13px !important;
}

.latest-video-item .latest-video-image-thumb {
  width: 80px;
  height: 61px;
  overflow: hidden;
  background-color: gray;
}

.latest-video-image-thumb img {
  width: 80px;
  margin-left: -15px;
  margin-top: -5px;
}

.latest-video-item .data {
  border: 1px solid #ddd !important;
  border-left: 0px !important;
  border-radius: 0px 4px 4px 0px;
  margin-top: -1px;
  height: 62px;
}

/* Comments */

.loader {
  margin-bottom: 30px;
}

.pointer {
  cursor: pointer;
}

/* Home videos list */

#videos-list {
  list-style: none;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}

.video-item {
  margin-bottom: 30px;
}

.video-image-thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background: #ddd;
}

.video-image-thumb img {
  width: 100%;
  margin-top: -45px;
}

.video-item .data {
  border: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  border-top: 0px;
  height: 130px;
}

/* User channel */
.channel-head {
  text-align: center;
}

.image-channel {
  width: 150px;
  height: 150px;
  border-radius: 500px;
  overflow: hidden;
  margin: 0px auto;
  background: #ccc;
}

.image-channel img {
  height: 160px;
}
