<hr>
<h4>{{titulo}}</h4>
<hr>

<form #newCommentForm="ngForm" (ngSubmit) = "onSubmit()" class = "col-md-12">

  <input type="hidden" #video_id="ngForm" [(ngModel)] = "comment.video_id" required>
  <p>
    <textarea class = "form-control" #body="ngForm" ngControl="body" [(ngModel)] = "comment.body" placeholder="Comentario..." required></textarea>
  </p>

  <span *ngIf="!body.valid && body.touched">Por favor, ingresa un comentario.</span>

  <input type="submit" value="Comentar" class = "btn btn-success pull-right">


</form>

<div class="clearfix"></div>

<hr>

<div class="loader">
  <img src="assets/images/ajax-gray.gif" class = "center-block" *ngIf="loading == 'show'">
</div>

<div id = "comments-list" *ngIf="commentList">

  <div *ngFor="let comment of commentList" class = "comment-item col-md-12 pull-left">
    <div class="panel panel-default comment-data comment-panel-{{comment.id}}">
      <div class="panel-heading">
        <h3 class = "panel-title">Comentario de <strong>{{comment.user.name}} {{comment.user.surname}}</strong> el {{comment.createdAt.timestamp | generateDate }}</h3>
      </div>

      <div class="panel-body">
        {{comment.body}}
      </div>

      <div class="pull-right" *ngIf="identity.sub == comment.user.id || identity.sub == comment.video.user.id">
        <span class = "glyphicon glyphicon-trash pointer" aria-hidden="true" (click) = "deleteComment(comment.id)"></span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>


</div>
