<div class="col-md-12">
  <hr/>
  <h1>{{titulo}}</h1>

  <div *ngIf="!identity || identity == null" class="">
    Inicia sesión para acceder a más opciones...
  </div>

  <div *ngIf="identity && identity != null" class="">
    Bienvenido {{identity.name}}, <a [routerLink] = "['/index']">entra en tu canal</a> o
    <a [routerLink] = "['/create-video']">crea un nuevo video.</a>
  </div>

  <hr/>

  <div class="all-videos">
    <ul id = "video-list" *ngIf="videos">
      <li *ngFor="let video of videos" class = "video-item col-md-4 pull-left">

        <div class="video-image-thumb">
          <img src="http://localhost/full_stack/symfony/web/uploads/video_images/video_{{video.id}}/{{video.image}}" *ngIf="video.image">
        </div>

        <div class="data">
          <h4><a [routerLink] = "['/video', video.id]">{{video.title}}</a></h4>
          <p>{{video.description}}</p>
        </div>
      </li>
    </ul>
  </div>

</div>
