<div class="loader block-center" *ngIf="loading == 'show'">
  <img src="assets/images/ajax-gray.gif" alt="">
</div>

<div class="col-md-12" *ngIf="video">
  <hr>
    <h3>{{video.title}}</h3>
  <hr>

  <div class="col-md-8">
    <video controls id = "video-player">
      <source src="http://localhost/full_stack/symfony/web/uploads/video_files/video_{{video.id}}/{{video.videoPath}}">
        Tu navegador no es compatible con HTML5.
    </video>

    <div class="panel panel-default video-data">



      <div class="panel-heading">
        <h3 class = "panel-title">Subido por <strong>{{video.user.name}} {{video.user.surname}}</strong>
        el {{video.createdAt.timestamp | generateDate}}</h3>
      </div>
      <div class="panel-body">
        <!-- <h3>Subido por <strong>{{video.user.name}} {{video.user.surname}}</strong>
        el {{video.createdAt.timestamp}}</h3> -->
        {{video.description}}
      </div>
    </div>

  </div>

</div>
